body {
    background-color: #238ace;
}

#left{
    width: 100px;
    height: 600px;
    float: left;
    background-color: #808080;
    border-radius: 15px;
    
}

#content{
    width: 1125px;
    height: 600px;
    float:left;
    background-color: #808080;
    border-radius: 15px;
    margin-left: 20px;
    overflow:auto;
}

#footer{
    clear: both;
    position: relative;
    bottom: -10px;
    border-radius: 15px;
    height: 50px;
    background-color: #808080;
    text-align: center;
    padding-top: 20px;

}

/*Trey edited here.. It's for the ny times selections*/
.holder {
height:15%;
width:97%;
margin-left:1.5%;
background-color:grey;
border:2px solid black;
border-radius:15px;
margin-top:1%;
margin-bottom:1%;
}

.img {
margin:1%;
float:left;
width:10%;
border: 2px solid black;
height:75%;
border-radius:15px;

}

/* Steve added below this for fun */
.imgButton {
    border:solid;
    border-color:black;
    border-width:3px;
    border-radius:15px;
    margin-bottom:5px;
}

.headerTxt {
    font-variant:small-caps;
    font:bolder;
    font-size:20pt;
    stroke:ghostwhite;
    stroke-opacity:75;
    stroke-width:2px;
    margin-bottom:10px;
}