body {
    background-color: #238ace;
}

#left{
    width: 100px;
    height: 600px;
    float: left;
    background-color: #808080;
    border-radius: 15px;
    
}

#content{
    width: 1125px;
    height: 600px;
    float:left;
    background-color: #808080;
    border-radius: 15px;
    margin-left: 20px;
}

#footer{
    clear: both;
    position: relative;
    bottom: -10px;
    border-radius: 15px;
    height: 50px;
    background-color: #808080;
    text-align: center;
    padding-top: 20px;

}

/*Trey edited here.. It's for the ny times selections*/
.holder {
height:15%;
width:90%;
margin-left:5%;
background-color:grey;
opacity:.75;
}

.img {
float:left;
width:10%;
border: 2px solid black;
height:75%;
}